@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

html,body{
  position: relative;
  min-height: 100vh;
  background-color: #000509;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.App{
  margin-right: 70px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.container{
  height: 350px;
  width: 250px;
  border: 2px solid #eee;
  background-color: #eee;
}

.minor{
  font-size: x-large;
  font-weight: bolder;
  width: 250px;
  letter-spacing: 1.5em;
  color: rgb(25, 5, 97);
  
}